.centered{
  text-align: center;
}

p{
  font-size: 18px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
body{
  background: #00FFFF;
  color: #ea2525;
}
.container1{
  text-align: center;
  width: 50%;
  border: 15px solid green;
  padding: 10px;
  margin: auto;


}
.blueline{
  color: blue;
}
#gitty{
  color: #ea2525;
}

.yellowline{
  color: #f414b4;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #f12ba2;
  font-size: 200%;
}