p{
  font-size: 18px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
body{
  background: #00FFFF;
  color: #ea2525;
}
.container1{
  width: 300px;
  border: 15px solid green;
  padding: 5%;
  margin: 20px;

}
.blueline{
  color: blue;
}
#gitty{
  color: #ea2525;
}