$search_color: rgb(246, 246, 246);
$shadow_color: rgb(209, 207, 207);
@media (min-width: 768px) {
  .searchbox {
    max-width: 600px;
  }
}
a {
  text-decoration: none;
}
body {
  font-family: arial, sans-serif;
}
%centerr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.searchbutton {
  @extend %centerr;
  background-color: rgb(248, 249, 250);
  font-size: 14px;
  border: none;
  background: none;
  padding: 4px;
  border-radius: 5px;
  margin-top: -16%;
  border: 2px solid $search_color;
  background-color: $search_color;
  input {
    border: none;
    background-color: transparent;
  }
}
.searchbutton:hover {
  border-top: 1px solid $shadow_color;
  border-left: 1px solid $shadow_color;
  border-right: 1px solid $shadow_color;
  border-bottom: 2px solid $shadow_color;
}
.barandbutton {
  @extend %centerr;
}
.searchbox {
  border: 0px solid black;
  margin-top: -58%;
  input {
    width: 300%;
    height: 40px;
    border-radius: 25px;
    margin-left: -100%;
    padding-left: 10%;
    display: grid;
    grid-template-columns: auto;
    border: 1px solid rgb(181, 181, 181);
  }
}

.heading {
  display: flex;
  flex-wrap: wrap;
  // float: right;
  justify-content: flex-end;
  text-align: right;
  margin-top: 10px;
}
.image_search_redirect {
  padding-right: 20px;
  margin-left: 20px;
  a {
    color: #202124;
  }
}
.advanced_search_redirect {
  margin-right: 20px;
  a {
    color: #202124;
  }
}
.google_logo {
  @extend %centerr;
  border: 0px solid black;
  margin-top: -89%;
}
.image_text {
  position: fixed;
  margin-top: -10%;
  margin-left: 80%;
  color: rgb(0, 125, 255);
}
