{% extends "tasks/layout.html" %} <!-- extends is a reserved keyword of django and layout.html is the name of the file -->

{% block body %}

<body>
    <form action="{% url 'tasks:add' %}" method="post">
        {% csrf_token %}
        <!-- <input type="text" name="task"> -->
        {{ form }}
        <input type="submit">
    </form>
    <br>
    <a href="{% url 'tasks:index' %}"> <!-- if "index" is only written instead of "tasks:index" then there is a change of name space collision happening.
    In this case a "name space collision" is when "index.html" of "newyear" app is displayed instead of "index.html" of "tasks" app. -->
        <button>View Tasks</button>
    </a>
</body>

{% endblock %}